doctype
html
  head(lang="es-MX")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(charset="UTF-8")
    title WorkFlow con Gulp
    link(rel="stylesheet", href="./assets/css/main.css")
  body
    h1 Aprendiendo a usar Gulp
    img(src="./assets/img/pug.svg", alt="Logo de Pug")
    .aqui
    include ./includes/menu.pug
    script(src="./assets/js/main.js")
